---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: frontend-claim0
  namespace: trading
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi
---
apiVersion: batch/v1
kind: Job
metadata:
  name: frontend
  namespace: trading
spec:
  template:
    spec:
      containers:
        - image: us-central1-docker.pkg.dev/elastic-sa/tbekiares/frontend:$COURSE
          #imagePullPolicy: Always
          name: frontend
          volumeMounts:
            - mountPath: /build
              name: frontend-claim0
      restartPolicy: Never
      volumes:
        - name: frontend-claim0
          persistentVolumeClaim:
            claimName: frontend-claim0
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: proxy
  namespace: trading
  labels:
    app: trading
    service: proxy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: trading
      service: proxy
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: trading
        service: proxy
    spec:
      containers:
        - image: us-central1-docker.pkg.dev/elastic-sa/tbekiares/proxy:$COURSE
          #imagePullPolicy: Always
          name: proxy
          ports:
            - containerPort: 80
          volumeMounts:
            - mountPath: /usr/share/nginx/html
              name: frontend-claim0
      restartPolicy: Always
      volumes:
        - name: frontend-claim0
          persistentVolumeClaim:
            claimName: frontend-claim0
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: trading
    service: proxy
  name: proxy
  namespace: trading
spec:
  ports:
    - name: proxy
      port: 9090
      targetPort: 80
  type: LoadBalancer
  selector:
    app: trading
    service: proxy
---
