---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: monkey
  namespace: trading
  labels:
    app: trading
    service: monkey
spec:
  replicas: 1
  selector:
    matchLabels:
      app: trading
      service: monkey
  template:
    metadata:
      annotations:
        instrumentation.opentelemetry.io/inject-python: "opentelemetry-operator-system/elastic-instrumentation"
      labels:
        app: trading
        service: monkey
    spec:
      containers:
        - name: monkey
          image: us-central1-docker.pkg.dev/elastic-sa/tbekiares/monkey:$COURSE
          #imagePullPolicy: Always
          ports:
            - containerPort: 9002
          env:
            - name: TRADER_SERVICE
              value: proxy:9090/trader
      restartPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: trading
    service: monkey
  name: monkey
  namespace: trading
spec:
  ports:
    - name: monkey
      port: 9002
      targetPort: 9002
  selector:
    app: trading
    service: monkey
---