---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: trading
    service: notifier
  name: notifier
  namespace: trading
spec:
  replicas: 1
  selector:
    matchLabels:
      app: trading
      service: notifier
  template:
    metadata:
      annotations:
        instrumentation.opentelemetry.io/inject-dotnet: "opentelemetry-operator-system/elastic-instrumentation"
      labels:
        app: trading
        service: notifier
    spec:
      containers:
        - name: notifier
          image: us-central1-docker.pkg.dev/elastic-sa/tbekiares/notifier:$BUILD_TAG
          #imagePullPolicy: Never
          ports:
            - containerPort: 5000
      restartPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: trading
    service: notifier
  name: notifier
  namespace: trading
spec:
  ports:
    - name: notifier
      port: 5000
      targetPort: 5000
  selector:
    app: trading
    service: notifier
---