apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    io.kompose.service: recorder-java
  name: recorder-java
  namespace: k8sotel
  annotations:
    resource.opentelemetry.io/deployment.environment: "k8sotel"
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: recorder-java
  template:
    metadata:
      annotations:
        instrumentation.opentelemetry.io/inject-java: "opentelemetry-operator-system/elastic-instrumentation"
      labels:
        io.kompose.service: recorder-java
    spec:
      containers:
        - env:
            - name: POSTGRES_HOST
              value: postgresql
            - name: POSTGRES_PASSWORD
              value: password
            - name: POSTGRES_USER
              value: admin
          image: us-central1-docker.pkg.dev/elastic-sa/tbekiares/recorder-java:latest
          imagePullPolicy: Always
          name: recorder-java
          ports:
            - containerPort: 9003
              protocol: TCP
      restartPolicy: Always
