---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: trading
    service: recorder-java
  name: recorder-java
  namespace: trading
spec:
  replicas: 1
  selector:
    matchLabels:
      app: trading
      service: recorder-java
  template:
    metadata:
      annotations:
        instrumentation.opentelemetry.io/inject-java: "opentelemetry-operator-system/elastic-instrumentation"
      labels:
        app: trading
        service: recorder-java
    spec:
      containers:
        - env:
            - name: KAFKA_ENABLED
              value: "false"
            - name: POSTGRES_HOST
              value: postgresql
            - name: POSTGRES_PASSWORD
              value: password
            - name: POSTGRES_USER
              value: admin
          image: us-central1-docker.pkg.dev/elastic-sa/tbekiares/recorder-java:$COURSE
          #imagePullPolicy: Always
          name: recorder-java
          ports:
            - containerPort: 9003
      restartPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: trading
    service: recorder-java
  name: recorder-java
  namespace: trading
spec:
  ports:
    - name: recorder-java
      port: 9003
      targetPort: 9003
  selector:
    app: trading
    service: recorder-java
---